{% extends "layouts/layout.twig" %}
{% block head  %}
    <title>Home page</title>
    <meta name="description" content="Default description">
{% endblock %}

{% block body %}
    Somebody ...
{% endblock %}
